{% extends "layout.html" %}

{% block content %}

    

    <!-- Defining the main content section of the page -->
    <div class="content">

        <!-- Defining the promo(slider) section of the page -->
        <div class="promo_area">
            <div class="meteor-slides navprevnext">
                <ul class="meteor-nav">
                    <li class="prev"><a href="#">Previous</a></li>
                    <li class="next"><a href="#">Next</a></li>
                </ul>

                <div class="promo_wrap">
                    <div class="slides">
                        <div class="slide">
                            <a href="#" title="promo1">
                            <img src="images/promo/pisolamina.jpg" alt="promo1" title="promo1" /></a>
                            <div class="title"><p><a href="#" title="promo1">Contextualizac&iacuteon sobre el proceso de galvanizado en la industria del metal.</a></p></div>
                        </div>
                        <div class="slide">
                            <a href="#" title="Tiempo Real">
                            <img src="images/promo/tiempo.jpg" alt="Tiempo Real" title="Tiempo Real" /></a>
                            <div class="title"><p><a href="#" title="Tiempo Real">Posibilidad de observar todas las variables en tiempo real las 24 horas del d&iacutea.</a></p></div>
                        </div>
                        <div class="slide">
                            <a href="#" title="Base de Datos">
                            <img src="images/promo/datos.jpg" alt="Base de Datos" title="Base de Datos" /></a>
                            <div class="title"><p><a href="#" title="Base de Datos">Acceso a nuestras bases de datos desde cualquier parte a traves de una PC o un dispositivo m&oacutevil.</a></p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Rest content of main area -->
        <div class="marg main">
            <div class="con">
                <div class="con_t"></div>
                <div class="con_bg">
                    <div class="con_wrap">

                        <!-- column #1 -->
                        <div class="block">
                            <div class="btitle">Acerca del Proyecto</div>
                            <div>
                                <img src="images/proyecto.jpg" alt="acerca del proyecto" title="Acerca del proyecto" />
                            </div>
                            <div class="bcon">
                                <div>Clean Aqua Monitor es una plataforma Online para la visualizaci&oacuten de variables obtenidas del tratamiento de agua residual, producto del proceso de Galvanizado.
                                    <a href="#" class="continue">continue</a>
                                </div>
                            </div>
                        </div>

                        <!-- column #2 -->
                        <div class="block">
                            <div class="btitle">Recent popular</div>
                            <div class="post">
                                <div class="head">
                                    <span>06-20-2011</span> <span class="s">|</span> <span> <a href="#"><b>1</b> <span>comment</span></a></span>
                                </div>
                                <h3 class="title">
                                    <a href="/">How to create water Ripple effect using HTML5 canvas</a>
                                </h3>
                                <div class="con">
                                    <p>Today we continue JavaScript examples, and our article will about using javascript in modeling of water effects. This will emulation of water drops at images. <a href="/" class="continue">Continue</a></p>
                                </div>
                            </div>

                            <div class="post">
                                <div class="head">
                                    <span>06-20-2011</span> <span class="s">|</span> <span> <a href="#"><b>1</b> <span>comment</span></a></span>
                                </div>
                                <h3 class="title">
                                    <a href="/">Cross-browser flare lens effect using javascrip</a>
                                </h3>
                                <div class="con">
                                    <p>Today`s lesson pretty entertaining, we`ll learn how to make a flare lens effect. I hope you know what it is, but if not - just look our online demo. To achieve this effect, we need several images - lenses. <a href="/" class="continue">Continue</a></p>
                                </div>
                            </div>
                        </div>

                        <!-- column #3 -->
                        <!--<div class="block">
                            <div class="btitle">All posts</div>
                            <ul class="snews">
                                <li>
                                    <a href="#">
                                        <div class="img">
                                            <img src="images/tutorial.png" alt="" title="" />
                                        </div>
                                        <div class="con">
                                            <p>Short description text #1</p>
                                        </div>
                                    </a>
                                    <br class="clear" />
                                </li>
                                <li>
                                    <a href="#">
                                    <div class="img">
                                        <img src="images/tutorial.png" alt="" title="" />
                                    </div>
                                    <div class="con">
                                        <p>Short description text #2</p>
                                    </div>
                                    </a>
                                    <br class="clear" />
                                </li>
                                <li>
                                    <a href="#">
                                    <div class="img">
                                        <img src="images/tutorial.png" alt="" title="" />
                                    </div>
                                    <div class="con">
                                        <p>Short description text #3</p>
                                    </div>
                                    </a>
                                    <br class="clear" />
                                </li>
                                <li>
                                    <a href="#">
                                    <div class="img">
                                        <img src="images/tutorial.png" alt="" title="" />
                                    </div>
                                    <div class="con">
                                        <p>Short description text #4</p>
                                    </div>
                                    </a>
                                    <br class="clear" />
                                </li>
                                <li>
                                    <a href="#">
                                    <div class="img">
                                        <img src="images/tutorial.png" alt="" title="" />
                                    </div>
                                    <div class="con">
                                        <p>Short description text #5</p>
                                    </div>
                                    </a>
                                    <br class="clear" />
                                </li>
                            </ul>
                        </div>-->
                        <div class="clear"></div>

                    </div>
                </div>
                <div class="con_b"></div>
            </div>
        </div>

    </div>


    <footer>

    <div class="foot">
        <div class="foot_wrap">Clean Aqua monitor | <a href="#">Privacy</a></div>
    </div>
    </footer>

{% endblock %}