<div class="top"></div>
    <div class="mid"></div>
    <div class="bottom"></div>

    <!-- Defining the header section of the page -->
    <header>
    <div class="marg">
        <div class="header">
          <div class="logo">
                <a href="#" title="Clean Aqua Monitor">Clean Aqua Monitor</a>
            </div>
            <div class="nav">
                <!-- Defining the navigation menu -->
                <ul>
                    <li class="current"><a href="http://cleanaquamonitor.herokuapp.com/"><span class="l"></span><span class="m">Inicio</span><span class="r"></span></a></li>
                    <li class="current"><a href="tiemporeal"><span class="l"></span><span class="m">Tiempo Real</span><span class="r"></span></a></li>
                    <li class="current"><a href="historico"><span class="l"></span><span class="m">Histórico</span><span class="r"></span></a></li>
                </ul>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    </header>
